[safe]
  #directory = ./
[user]
	email = 631752+reginaldford@users.noreply.github.com
	name = Rex
	username = Rex
[core]
    autocrlf = false
    filemode = false
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers = true
    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
    hyperlinks = true
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"
[merge]
    conflictstyle = diff3
[diff]
  colorMoved = default
[pull]
    ff = only
